<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.kro.makein.lighthouse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="등대"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SpalshActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".CompassActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".ShipActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DiarysaveActivity" />
        <activity android:name=".LogincompleteActivity"></activity>
        <activity android:name=".WritelistActivity"></activity>
        <activity android:name=".Information3Activity"></activity>
        <activity android:name=".Information2Activity"/>
        <activity android:name=".Compass2Activity"/>
    </application>

</manifest>